= simple_form_for @nugget do |f|
  - if @nugget.errors.any?
    #error_explanation
      %h2= "#{pluralize(@nugget.errors.count, "error")} prohibited this nugget from being saved:"
      %ul
        - @nugget.errors.full_messages.each do |msg|
          %li= msg

  = f.input :name
  = f.input :rss

  .actions
    = f.submit 'Save'
