- content_for :sidebar do
  %ul.side-nav
    - @nuggets.each do |nugget|
      %li
        = link_to nugget.name, nugget_path(nugget)


- @nuggets.each do |nugget|
  .row
    .large-12.columns.feed-title
      %h3= link_to nugget.name, nugget

  - nugget.fetch.each do |entry|
    .row
      .large-12.columns.feed-line
        %strong= entry.title
        %span.feed-summary= "#{strip_tags( entry.content || entry.summary)[0..60]} …"

%br

= link_to 'New Nugget', new_nugget_path
