- @nuggets.each do |nugget|
  .row
    .large-12.columns
      %h3.feed-title= nugget.name
      = link_to 'Show', nugget
      = link_to 'Edit', edit_nugget_path(nugget)
      = link_to 'Destroy', nugget, :method => :delete, :data => { :confirm => 'Are you sure?' }

  - nugget.fetch.each do |entry|
    .row.feed-entry
      .large-12.columns
        %h4= entry.title
      .row
        .large-12.columns= "#{strip_tags( entry.content || entry.summary)[0..300]} …"

    

%br

= link_to 'New Nugget', new_nugget_path
