%h1 Nuggets

- @nuggets.each do |nugget|
  .large-12
    %h3#feed-title= nugget.name
    = link_to 'Show', nugget
    = link_to 'Edit', edit_nugget_path(nugget)
    = link_to 'Destroy', nugget, :method => :delete, :data => { :confirm => 'Are you sure?' }

  %ul.small-block-grid-5
    - nugget.fetch.each do |entry|
      %li
        %strong= entry.title
        %p= raw "#{strip_tags(entry.summary)[0..144]} …" 
    

%br

= link_to 'New Nugget', new_nugget_path
